@import '../../style/variables.scss';

.genres {
	grid-column: 1/2;
	padding: 50px 100px 0 50px;

	&__genre {
		background-color: $button-default-color;
		border: none;
		min-width: 70px;
		height: 40px;
		border-radius: 20px;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		padding: 10px 20px;
		cursor: pointer;
		margin: 20px 20px 0 0;
		transition: 0.3s all;

		&:hover {
			box-shadow: 0px 0px 10px #fff;
		}

		&_active {
			box-shadow: 0px 0px 10px #fff;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (max-width: 1200px) {
	.genres {
		padding: 15px 20px;

		&__genre {
			margin: 10px 10px 0 0;
			height: 35px;
			font-size: 14px;
			line-height: 16px;
		}
	}
}

@media (max-width: 992px) {
	.genres {
		padding: 10px 25px;
		grid-row: 2/3;
		grid-column: 1/3;

		&__genre {
		}
	}
}
