@import '../../style/variables.scss';

.genres {
	grid-column: 1/2;
	padding: 50px 100px 0 50px;

	&__genre {
		background-color: $button-default-color;
		border: none;
		min-width: 70px;
		height: 40px;
		border-radius: 20px;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		padding: 10px 20px;
		cursor: pointer;
		margin: 20px 20px 0 0;
		transition: 0.3s all;

		&:hover {
			box-shadow: 0px 0px 10px #fff;
		}

		&_active {
			box-shadow: 0px 0px 10px #fff;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}
}
